<div class="row">
    <div class="col col-lg-10">
        <button type="button" class="btn btn-success" (click)="onAddNewContact()">New</button>
    </div>
    <div class="col col-lg-2">
        <form class="d-flex" [formGroup]="searchForm">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              formControlName="searchTxt"
              (ngModelChange)="onSearch($event)"
              placeholder="Search"
            />
          </form>
    </div>
</div>
<div class="row mt-1">
    <div class="col col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of dataListObs|async" (click)="onViewDetails(contact)" id="row_{{contact.id}}">
                    <td>{{contact.id}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.email}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="onEditContact($event,contact)">Edit</button>
                    </td>
                    <td><button type="button" class="btn btn-danger" (click)="onDeleteContact($event,contact)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-1">
        <div class="d-flex justify-content-center">
            <app-custom-pagination [totalRecords]="totalNumberOfrecords" [recordsPerPage]="pageSize"
                (onPageChange)="getPageData($event)">
            </app-custom-pagination>
        </div>
    </div>

</div>
<div class="row mt-1">
    <ng-template #childDetails></ng-template>
</div>