.toaster-wrapper {
    overflow: hidden;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    pointer-events: auto;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
}

.toaster-wrapper:hover {
    box-shadow: 0 0 12px #000;
    cursor: pointer;
}

.toaster-wrapper * {
    box-sizing: border-box;
}

.toaster-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}
.toaster-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.toaster-title {
    font-weight: bold;
}

.toaster-success {
    background-color: #51A351;
}

.toaster-warning {
    background-color: #f89406;
}

.toaster-error {
    background-color: #BD362F;
}